// businessPaddingTop: 30
// businessImgHeight: 80


// header
header h1
  text-align: center
  height: 80px
  line-height: 80px

header nav
  height: 72px
  background: #f5f0eb
  
header > div
  border-top: 1px solid #dfd9d3
  border-bottom: 1px solid #dfd9d3
  background: #f5f0eb
  height: 70px

header .business
  float: right
  width: 200px
  padding-right: 15px
  padding-top: 15px

  img
    float: right
    max-width: 40px
    max-height: 40px
    
  dl
    padding-right: 60px
    text-align: right

  dl dt
    font-weight: bold
    font-size: (18 / 13)rem
    // padding-bottom: 10px
    
  dl dd
    // font-size: (18 / 13)rem
  
// view
.wrapper
  padding-left: 80px;


// 导航
aside.navbar
  position: absolute
  left: 0

  width: 78px
  height: 100%
  background: #f5f0eb

  ul
    height: 100%

  ul li
    height: 44px
    line-height: 44px
    text-align: center