// header
header h1
  text-align: center
  height: 80px
  line-height: 80px

header nav
  height: 72px
  background: #f5f0eb

// view
.wrapper
  padding-left: 80px;


// 导航
aside.navbar
  position: absolute
  left: 0

  width: 78px
  height: 100%
  background: #f5f0eb

  ul
    height: 100%

  ul li
    height: 44px
    line-height: 44px
    text-align: center